<html>
<body style="background-color:powderblue;">
<img src = "https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg" alt = "what" width = "50" height = "60">
{% if user.is_authenticated %}
<h2 style="color:Tomato;">Hello, {{ user_info.name }}.</h2>
<h5>Your phone is {{ user_info.phone }}.</h5>
{% endif %}
{% block content %}
{% endblock %}
{% if user.is_authenticated %}
<p><a href="{% url 'logout' %}">Logout</a></p>
{% else %}
<p><a href="{% url 'login' %}">Login</a></p>
{% endif %}
</body>
</html>