{% extends 'happyearth/base.html' %}
{% block title %}
Your Favorites
{% endblock %}
{% block content %}
<div>
{% if restaurants %}
    <table>
{% for i in restaurants %}    
        <tr>
        <th><a href="/restaurant/{{ i.id }}/">{{ i.name }}, {{ i.address }}, {{ i.city }}, {{ i.state }}</a></th>
        <th><a href="remove/{{ i.id }}">Remove</a></th>
    </tr>
    {% endfor %}
</table>

{% else %}
<p>No restaurant.</p>
{% endif %}
</div>
{% endblock %}
{% block go_back %}
<a href="../..">Back</a>
{% endblock %}