{% extends 'happyearth/base.html' %}
{% block title %}
Write A Comment
{% endblock %}
{% block content %}
<h2>Restaurant: {{ restaurant.name }}.</h2>
<h5>Address: {{ restaurant.address }}, {{ restaurant.city }}, {{ restaurant.state }}</h5>
<h5>Price Level: {{ restaurant.price_level }}</h5>

{% if user.is_authenticated%}
<form action="." method="post">
{% csrf_token %}
    <select name="rating" size="5" width="20">
        <option value="5" {% if comment and comment.rating == 5 %}selected{% elif not comment %}selected{% endif %}>5</option>
        <option value="4" {% if comment and comment.rating == 4 %}selected{% endif %}>4</option>
        <option value="3" {% if comment and comment.rating == 3 %}selected{% endif %}>3</option>
        <option value="2" {% if comment and comment.rating == 2 %}selected{% endif %}>2</option>
        <option value="1" {% if comment and comment.rating == 1 %}selected{% endif %}>1</option>
        </select>
    <br>
If you want, you can check this and type the dish name.<input type="checkbox" name="is_dish" value="true" {% if comment and comment.dish_id %}checked{% endif %}><input type="text" name="dish" value="{% if comment and comment.dish_id %}{{ comment.dish_id }}{% endif %}">
    <br>
    <textarea name="review" rows="10" cols="80" maxlength=500>{% if comment %}{{ comment.review }}{% else %}Please write your review. (500 characters limit){% endif %}</textarea><br>
    
<input type="submit" value="{% if comment %}Edit{% else %}Comment{% endif %}">
</form>
{% endif %}
{% endblock %}
{% block go_back %}
<a href="..">Back</a>
{% endblock %}