{% extends 'happyearth/base.html' %}

{% block content %}
<h2>Restaurant: {{ restaurant.name }}.</h2>
<h5>Address: {{ restaurant.address }}, {{ restaurant.city }}, {{ restaurant.state }}</h5>
<h5>Price Level: {{ restaurant.price_level }}</h5>

{% if user.is_authenticated%}
<div>
    {% if is_favorite%}
    <p>Favorited.</p>
    {% else %}
    <p><a href="favorite">Add to favorites.</a></p>
    {% endif %}
</div>
{% endif %}

<div>
{% if comments %}
<p>Comments.</p>
<table>
    <tr>
        <th>Date</th>
        <th>Rating</th>
        <th>Review</th>
    </tr>
    {% for i in comments %}
    <tr>
        <th>{{ i.date }}</th>
        <th>{{ i.rating }}</th>
        <th>{{ i.review }}</th>
    </tr>
    {% endfor %}
</table>
{% endif %}
    
{% if comments_dishes %}
<p>Your past dishes with comments.</p>
<table>
    <tr>
        <th>Date</th>
        <th>Rating</th>
        <th>Review</th>
        <th>Dish</th>
    </tr>
    {% for i in comments_dishes %}
    <tr>
        <th>{{ i.date }}</th>
        <th>{{ i.rating }}</th>
        <th>{{ i.review }}</th>
        <th>{{ i.dish_id }}</th>
    </tr>
    {% endfor %}
</table>
{% endif %} 
</div>


<div>
{% if dishes %}
<p>All recorded dishes of this restaurant.</p>
<ul>
    {% for i in dishes %}
        <li>{{ i.dish_id }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>
{% if user.is_authenticated%}
<p><a href="comment">Write comment.</a></p>
<p><a href="edit">Edit comment.</a></p>
{% endif %}
{% endblock %}
<!--
{% block go_back %}
<a href="{% url 'homepage' %}">Back</a>
{% endblock %}
-->