{% extends 'happyearth/base.html' %}
{% block title %}
Happy Eat Where homepage
{% endblock %}
{% block content %}

<!-- {% if user.is_authenticated and user_info %}
<h2><a href="favorites">See My Favorites</a></h2>
{% endif %} -->
<!-- <br> -->
<div>
    <h2>Search restaurant:</h2>
<form action="/search/" method="get">
  Name: <input type="text" name="restaurant"><br>
    Address: <input type="text" name="address"><br>
    <input type="submit" value="Search">    <input type="checkbox" name="rank" value="true">Rank by Rating
</form>
</div>
{% if user.is_authenticated and user_info %}
<div>
    <h2>Eat together: Please enter a 4-digit code</h2>
<form action="/together/" method="post">
    {% csrf_token %}
  <input type="text" name="code" value="1234"><br>
    <input type="submit" value="Submit">
</form>
</div>
<br>

<div>
    {% if restaurants %}
    <h2>Your Recommendation</h2><a href="/clear-recommend/" class="button btn-warning  btn-sm">Clear Recommendation</a>
<ul>
    {% for i in restaurants %}
        <li><a href="/restaurant/{{ i.id }}/">{{ i.name }}, {{ i.address }}, {{ i.city }}, {{ i.state }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No restaurant.</p>
{% endif %}
</div>

{% endif %}
{% endblock %}
