{% extends 'happyearth/base.html' %}

{% block content %}
<h2><a href="favorites">My Favorites</a></h2>
<br>
<div>
    <h2>Search restaurant:</h2>
<form action="/search/" method="get">
  <input type="text" name="restaurant"><br>
    <input type="submit" value="Search">
</form>
</div>

<div>
    <h2>Eat together: Please enter a 4-digit code</h2>
<form action="/together/" method="post">
    {% csrf_token %}
  <input type="text" name="code" value="1234"><br>
    <input type="submit" value="Submit">
</form>
</div>
<br>

<div>
    <h2>Your Recommendation</h2><a href="/recommend-remove-all/">Clear All Recommendation At Current Location</a>
{% if restaurants %}
<ul>
    {% for i in restaurants %}
        <li><a href="/restaurant/{{ i.id }}/">{{ i.name }}, {{ i.address }}, {{ i.city }}, {{ i.state }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No restaurant.</p>
{% endif %}
</div>
<div>
<a href="/user/clear/">Clear my user information.</a>
</div>
{% endblock %}
